@use "../../css/functions" as c;

.yourTrustedPartnerSection {
    padding: c.vw375(50) 0 c.vw375(34);
    position: relative;
    height: c.vw375(1000);

    p.subTitle {
        font-family: Inter;
        font-size: c.vw375(20);
        font-weight: 500;
        margin-bottom: c.vw375(6);
        text-align: center;
        color: rgba(76, 41, 181, 1);
    }

    .titleSection {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 12px;
        margin-bottom: c.vw375(6);

        h2 {
            font-family: Inter;
            font-size: c.vw375(28);
            font-weight: 700;
            color: rgba(76, 41, 181, 1);
        }

        img {
            display: none;
            width: auto;
            height: c.vw375(16);
        }
    }

    .descSection {
        margin-bottom: c.vw375(30);
        p {
            text-align: center;
            font-size: c.vw375(18);
            font-family: Inter;
            font-weight: 500;
            color: rgba(115, 80, 159, 1);

            span {
                font-weight: 700;
            }
        }
    }

    .towerImage {
        position: absolute;
        bottom: 0;
        height: auto;
        left: c.vw375(0);
        z-index: -1;
    }

    .towerImageDesktop {
        display: none;
    }

    .list {
        .contnentBox {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: c.vw375(12);
            border-radius: c.vw375(16);
            background: rgba(137, 69, 236, 0.1);
            // background-color: white;
            padding: c.vw375(12);
            border: 2px solid white;
            margin-bottom: c.vw375(12);

            p {
                margin: 0;
                font-size: c.vw375(15);
                font-family: Inter;
                font-weight: 400;
                color: rgb(76, 41, 181);

                span {
                    font-weight: 700;
                }
            }

            .imageHoverBox {
                width: 24%;
                .imageHover {
                    width: c.vw375(68);
                    height: c.vw375(68);
                    border: 2px solid white;
                    border-radius: c.vw375(15);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgb(137, 69, 236);
                    transition: all 0.3s ease-in-out;

                    img {
                        width: c.vw375(32);
                        height: auto;
                    }
                }
            }

            &:hover {
                box-shadow: 0 0 80px rgba(137, 69, 236, 0.2);
                background: white;
                transition: all 0.3s ease-in-out;

                .imageHover {
                    background: rgb(255, 0, 121);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .yourTrustedPartnerSection {
        padding: c.vw834(50) 0;
        height: c.vw834(1050);

        p.subTitle {
            font-size: c.vw834(20);
            margin-bottom: c.vw834(6);
        }

        .titleSection {
            margin-bottom: c.vw834(6);

            h2 {
                font-size: c.vw834(35);
            }

            img {
                display: block;
                height: c.vw834(30);
            }
        }

        .descSection {
            margin-bottom: c.vw834(30);
            p {
                font-size: c.vw834(22);
            }
        }

        .towerImage {
            display: none;
        }

        .towerImageDesktop {
            position: absolute;
            display: block;
            top: c.vw834(150);
            width: c.vw834(800);
            height: c.vw834(900);
            left: c.vw834(-383);
            z-index: -1;
        }

        .list {
            width: 80%;
            margin: 0 c.vw834(138);
            .contnentBox {
                gap: c.vw834(12);
                border-radius: c.vw834(16);
                padding: c.vw834(12);
                margin-bottom: c.vw834(12);

                img {
                    width: c.vw834(50);
                }

                p {
                    font-size: c.vw834(13);
                }

                .imageHoverBox {
                    width: 14%;
                    .imageHover {
                        width: c.vw834(68);
                        height: c.vw834(68);
                        border-radius: c.vw834(15);

                        img {
                            width: c.vw834(32);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .yourTrustedPartnerSection {
        overflow: hidden;
        padding: c.vw1920(50) 0;
        height: c.vw1920(860);

        p.subTitle {
            font-size: c.vw1920(20);
            margin-bottom: c.vw1920(6);
            text-align: start;
        }

        .titleSection {
            margin-bottom: c.vw1920(6);
            justify-content: start;
            align-items: center;
            h2 {
                font-size: c.vw1920(47);
            }

            img {
                display: block;
                width: c.vw1920(40);
                height: auto;
                margin-top: -10px;
            }
        }

        .descSection {
            margin-bottom: c.vw1920(30);
            p {
                font-size: c.vw1920(28);
                text-align: start;
            }
        }

        .towerImage {
            display: none;
        }
        .towerImageDesktop {
            position: absolute;
            display: block;
            top: c.vw1920(100);
            width: c.vw1920(711);
            height: c.vw1920(760);
            left: 67%;
        }

        .list {
            width: 35%;
            .contnentBox {
                background: rgba(137, 69, 236, 0.1);
                gap: c.vw1920(12);
                border-radius: c.vw1920(16);
                padding: c.vw1920(12);
                margin-bottom: c.vw1920(20);

                img {
                    width: c.vw1920(68);
                }

                p {
                    font-size: c.vw1920(20);
                }

                .imageHoverBox {
                    width: auto;
                    .imageHover {
                        width: c.vw1920(68);
                        height: c.vw1920(68);
                        border-radius: c.vw1920(15);

                        img {
                            width: c.vw1920(32);
                        }
                    }
                }
            }
        }
    }
}
