@use "../../css/functions" as c;

.joiningFormSection {
    .titleSection {
        padding: c.vw375(30) 0;
        text-align: center;
        h2 {
            font-family: Inter;
            font-size: c.vw375(35);
            font-weight: 600;
            line-height: c.vw375(48);
            color: rgba(76, 41, 181, 1);
            margin: 0;
        }

        p {
            font-family: Inter;
            font-size: c.vw375(15);
            font-weight: 400;
            line-height: c.vw375(48);
            color: rgba(158, 157, 157, 1);
            margin: 0;
        }
    }

    .cardItems {
        .contentBox {
            width: c.vw375(349);
            height: c.vw375(401);
            //border: 3px solid rgba(76, 41, 181, 1);
            border: 3px solid rgba(211, 211, 211, 1);
            border-radius: 10px;
            position: relative;
            padding: c.vw375(60) 0;
            margin-bottom: c.vw375(30);
            transition: all 0.3s ease-in-out;

            &::before {
                position: absolute;
                content: "";
                background-color: rgb(211 211 211 / 0%);
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: 0;
            }

            .notHover {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
            }

            p.title {
                font-family: Inter;
                font-size: c.vw375(26);
                font-weight: 700;
                line-height: c.vw375(16);
                //color: rgba(76, 41, 181, 1);
                color: rgba(224, 224, 224, 1);
                margin: 0;
                transition: all 0.3s ease-in-out;
            }

            img.mainImageSection {
                width: c.vw375(109);
                height: auto;
                filter: opacity(0.2);
                transition: all 0.3s ease-in-out;
            }

            p.btnFormSection {
                font-family: Inter;
                font-size: c.vw375(16);
                font-weight: 400;
                line-height: c.vw375(20);
                margin: 0;
                width: c.vw375(256);
                height: c.vw375(48);
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                //background-color: rgba(76, 41, 181, 1);
                background-color: rgba(224, 224, 224, 1);
                color: white !important;
                transition: all 0.3s ease-in-out;
            }

            .hoverSection {
                padding: c.vw375(40) 0;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to top left, rgba(76, 41, 181, 1), rgba(76, 41, 181, 0.5));
                width: 100%;
                height: 100%;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                display: none;

                p {
                    width: c.vw375(280);
                    font-family: Inter;
                    font-size: c.vw375(14);
                    font-weight: 300;
                    line-height: c.vw375(16.8);
                    color: white;
                    margin: 0;

                    span {
                        font-weight: 700;
                    }

                    &.sectionCenter {
                        padding: c.vw375(20) 0;
                    }

                    &.termsAndConditions {
                        padding: c.vw375(20) 0;
                    }
                }

                .btnSectionNext {
                    width: c.vw375(280);
                    height: c.vw375(48);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(255, 255, 255, 1);

                    a {
                        text-decoration: none;
                        font-family: Inter;
                        font-size: c.vw375(16);
                        font-weight: 600;
                        line-height: c.vw375(20);
                        margin: 0;
                        color: rgba(76, 41, 181, 1);
                    }

                    img {
                        width: c.vw375(16);
                        height: auto;
                        margin: 0 c.vw375(12);
                    }
                }
            }

            // &:hover {
            //     & {
            //         border: 3px solid rgba(76, 41, 181, 1);
            //         transition: all 0.3s ease-in-out;

            //         p.title {
            //             color: rgba(76, 41, 181, 1);
            //             transition: all 0.3s ease-in-out;
            //         }

            //         img.mainImageSection {
            //             filter: opacity(1);
            //             transition: all 0.3s ease-in-out;
            //         }

            //         p.btnFormSection {
            //             background-color: rgba(76, 41, 181, 1);
            //             transition: all 0.3s ease-in-out;
            //         }
            //     }
            // }

            &:hover {
                &.contentBox {
                    border: transparent;
                }

                .notHover {
                    display: none;
                }

                .hoverSection {
                    display: flex;
                    border-radius: 10px;
                }

                img.mainImageSection {
                    filter: opacity(1);
                }
            }
        }
    }
    .desktopView {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .joiningFormSection {
        .titleSection {
            padding: c.vw834(30) 0;
            text-align: center;
            h2 {
                font-size: c.vw834(35);
                line-height: c.vw834(48);
            }

            p {
                font-size: c.vw834(15);
                line-height: c.vw834(48);
            }
        }

        .cardItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .contentBox {
                width: c.vw834(349);
                height: c.vw834(401);
                padding: c.vw834(60) 0;
                margin-bottom: c.vw834(30);

                p.title {
                    font-size: c.vw834(26);
                    line-height: c.vw834(16);
                }

                img.mainImageSection {
                    width: c.vw834(109);
                }

                p.btnFormSection {
                    font-size: c.vw834(16);
                    line-height: c.vw834(20);
                    width: c.vw834(256);
                    height: c.vw834(48);
                }

                .hoverSection {
                    padding: c.vw834(40) 0;

                    p {
                        width: c.vw834(280);
                        font-size: c.vw834(14);
                        line-height: c.vw834(16.8);

                        &.sectionCenter {
                            padding: c.vw834(20) 0;
                        }

                        &.termsAndConditions {
                            padding: c.vw834(20) 0;
                        }
                    }

                    .btnSectionNext {
                        width: c.vw834(280);
                        height: c.vw834(48);

                        a {
                            font-size: c.vw834(16);
                            line-height: c.vw834(20);
                        }

                        img {
                            width: c.vw834(16);
                            margin: 0 c.vw834(12);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .joiningFormSection {
        .titleSection {
            padding: c.vw1920(60) 0;
            text-align: center;
            h2 {
                font-size: c.vw1920(63);
                line-height: c.vw1920(48);
                margin-bottom: c.vw1920(20);
            }

            p {
                font-size: c.vw1920(28);
                line-height: c.vw1920(48);
            }
        }

        .mobileView {
            display: none;
        }

        .desktopView {
            display: block;
            width: c.vw1920(1668);

            .cardItems {
                width: c.vw1920(1473);
                display: flex;
                flex-wrap: wrap;
                gap: c.vw1920(20);
                margin: 0 auto c.vw1920(401);

                .contentBox {
                    width: c.vw1920(349);
                    height: c.vw1920(401);
                    padding: c.vw1920(60) 0;
                    margin-bottom: c.vw1920(30);
                    cursor: pointer;

                    p.title {
                        font-size: c.vw1920(26);
                        line-height: c.vw1920(16);
                    }

                    img.mainImageSection {
                        width: c.vw1920(109);
                    }

                    a.btnFormSection {
                        font-family: Inter;
                        font-size: c.vw1920(16);
                        line-height: c.vw1920(20);
                        width: c.vw1920(256);
                        height: c.vw1920(48);
                        font-weight: 400;
                        margin: 0;
                        width: c.vw1920(256);
                        height: c.vw1920(48);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //background-color: rgba(76, 41, 181, 1);
                        background-color: rgba(224, 224, 224, 1);
                        color: white !important;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                    }

                    .hoverSection {
                        padding: c.vw1920(40) 0;

                        p {
                            width: c.vw1920(280);
                            font-size: c.vw1920(14);
                            line-height: c.vw1920(16.8);

                            &.sectionCenter {
                                padding: c.vw1920(20) 0;
                            }

                            &.termsAndConditions {
                                padding: c.vw1920(20) 0;
                            }
                        }

                        .btnSectionNext {
                            width: c.vw1920(280);
                            height: c.vw1920(48);

                            a {
                                font-size: c.vw1920(16);
                                line-height: c.vw1920(20);
                            }

                            img {
                                width: c.vw1920(16);
                                margin: 0 c.vw1920(12);
                            }
                        }
                    }

                    &:hover {
                        & {
                            border: 3px solid rgba(76, 41, 181, 1) !important;
                            transition: all 0.3s ease-in-out;

                            &::before{
                                position: relative;
                            }

                            p.title {
                                color: rgba(76, 41, 181, 1);
                                transition: all 0.3s ease-in-out;
                            }

                            img.mainImageSection {
                                filter: opacity(1);
                                transition: all 0.3s ease-in-out;
                            }

                            a.btnFormSection {
                                background-color: rgba(76, 41, 181, 1);
                                transition: all 0.3s ease-in-out;
                            }

                            .hoverSection {
                                display: flex;
                                position: absolute;
                                top: 110%;
                            }

                            .hoverSection {
                                &.leftSectionHover {
                                    left: -60%;
                                }

                                &.rightSectionHover {
                                    left: 60%;
                                }
                            }

                            &.twoColumnsHover {
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: " ";
                                    background-image: url("../../assets/lineTwoDive.svg");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    top: 104%;
                                }

                                &::after {
                                    position: absolute;
                                    content: " ";
                                    top: 100%;
                                    width: 3px;
                                    height: c.vw1920(18);
                                    background-color: rgba(76, 41, 181, 1);
                                    left: 50%;
                                    z-index: -1;
                                }
                            }

                            &::after {
                                position: absolute;
                                content: " ";
                                top: 100%;
                                width: 3px;
                                height: c.vw1920(40);
                                background-color: rgba(76, 41, 181, 1);
                                left: 50%;
                                z-index: -1;
                            }

                            .notHover {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}
