@use "../../css/functions" as c;

.professionalListingSection {
    padding: c.vw375(50) 0;
    position: relative;
    p.subTitle {
        font-family: Inter;
        font-size: c.vw375(20);
        font-weight: 500;
        margin-bottom: c.vw375(6);
        text-align: center;
        color: rgba(76, 41, 181, 1);
    }

    .titleSection {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 12px;
        margin-bottom: c.vw375(6);

        h2 {
            font-family: Inter;
            font-size: c.vw375(28);
            font-weight: 700;
            color: rgba(76, 41, 181, 1);
        }

        img {
            display: none;
            width: auto;
            height: c.vw375(16);
        }
    }

    .descSection {
        margin-bottom: c.vw375(30);
        p {
            text-align: center;
            font-size: c.vw375(18);
            font-family: Inter;
            font-weight: 500;
            color: rgba(115, 80, 159, 1);

            span {
                font-weight: 700;
            }
        }
    }

    .cardItem {
        background-color: white;
        box-shadow: 0 0 67px rgba(137, 69, 236, 0.17);
        padding: c.vw375(12);
        border-radius: c.vw375(26);

        .sizeBox {
            background: linear-gradient(to top left, rgba(76, 41, 181, 1), rgba(106, 63, 236, 0.5));
            border-radius: c.vw375(26);
            cursor: pointer;
            
            .contentBox {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: c.vw375(40) 0;

                &:nth-child(1) {
                    border-top-left-radius: c.vw375(26);
                    border-top-right-radius: c.vw375(26);
                }

                &:nth-child(5) {
                    border-bottom-left-radius: c.vw375(26);
                    border-bottom-right-radius: c.vw375(26);
                }

                img {
                    width: c.vw375(48);
                    height: auto;
                }

                h3 {
                    font-family: Inter;
                    font-size: c.vw375(24);
                    font-weight: 700;
                    padding: c.vw375(12) 0;
                    margin: 0;
                    color: white;
                }

                p {
                    font-family: Inter;
                    font-size: c.vw375(16);
                    font-weight: 400;
                    width: c.vw375(150);
                    text-align: center;
                    margin: 0;
                    color: white;
                    line-height: c.vw375(20);
                }

                .imageHover {
                    width: c.vw375(68);
                    height: c.vw375(68);
                    border: 2px solid white;
                    border-radius: c.vw375(15);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: c.vw375(32);
                        height: auto;
                    }
                }

                &:hover {
                    background-color: rgba(255, 0, 121, 1);
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .professionalListingSection {
        padding: c.vw834(50) 0;

        p.subTitle {
            font-size: c.vw834(20);
            margin-bottom: c.vw834(6);
        }

        .titleSection {
            margin-bottom: c.vw834(6);

            h2 {
                font-size: c.vw834(35);
            }

            img {
                display: block;
                height: c.vw834(16);
            }
        }

        .descSection {
            margin-bottom: c.vw834(30);
            p {
                font-size: c.vw834(22);
            }
        }

        .cardItem {
            padding: c.vw834(12);
            border-radius: c.vw834(26);

            .sizeBox {
                border-radius: c.vw834(26);

                .contentBox {
                    padding: c.vw834(40) 0;

                    &:nth-child(1) {
                        border-top-left-radius: c.vw834(26);
                        border-top-right-radius: c.vw834(26);
                    }

                    &:nth-child(5) {
                        border-bottom-left-radius: c.vw834(26);
                        border-bottom-right-radius: c.vw834(26);
                    }

                    img {
                        width: c.vw834(68);
                    }

                    h3 {
                        font-size: c.vw834(24);
                        padding: c.vw834(12) 0;
                    }

                    p {
                        font-size: c.vw834(16);
                        width: c.vw834(200);
                        line-height: c.vw834(20);
                    }

                    .imageHover {
                        width: c.vw834(68);
                        height: c.vw834(68);
                        border-radius: c.vw834(15);
                        img {
                            width: c.vw834(32);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .professionalListingSection {
        padding: c.vw1920(50) 0;

        p.subTitle {
            font-size: c.vw1920(20);
            margin-bottom: c.vw1920(6);
            text-align: start;
        }

        .titleSection {
            margin-bottom: c.vw1920(6);
            justify-content: start;
            align-items: center;
            h2 {
                font-size: c.vw1920(47);
            }

            img {
                display: block;
                width: c.vw1920(32);
                height: auto;
                margin-top: -10px;
            }
        }

        .descSection {
            margin-bottom: c.vw1920(60);
            p {
                font-size: c.vw1920(28);
                text-align: start;
            }
        }

        .cardItem {
            padding: c.vw1920(12);
            border-radius: c.vw1920(50);

            .sizeBox {
                border-radius: c.vw1920(50);
                display: flex;
                justify-content: space-around;
                max-height: c.vw1920(260);
                // align-items: self-start;

                .contentBox {
                    padding: c.vw1920(40) 0;
                    width: calc(100% / 5);
                    border-radius: c.vw1920(40) c.vw1920(40) 0 0;

                    img {
                        width: c.vw1920(68);
                    }

                    h3 {
                        font-size: c.vw1920(24);
                        padding: c.vw1920(12) 0;
                    }

                    p {
                        font-size: c.vw1920(16);
                        width: c.vw1920(200);
                        line-height: c.vw1920(20);
                    }

                    &:nth-child(1) {
                        border-top-left-radius: inherit;
                        border-top-right-radius: inherit;
                        border-bottom-left-radius: c.vw1920(40);
                    }

                    &:nth-child(5) {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-right-radius: c.vw1920(40);
                    }

                    .imageHover {
                        width: c.vw1920(68);
                        height: c.vw1920(68);
                        border-radius: c.vw1920(15);
                        img {
                            width: c.vw1920(32);
                        }
                    }

                    &:hover {
                        position: relative;
                        top: c.vw1920(-50);
                        height: c.vw1920(310);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
