@use "../../css/functions" as c;

.effortlessSelfListingSection {
    p.subTitle {
        font-family: Inter;
        font-size: c.vw375(14);
        font-weight: 500;
        margin-bottom: c.vw375(6);
        text-align: center;
        color: rgba(76, 41, 181, 1);
    }

    .titleSection {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 12px;
        margin-bottom: c.vw375(6);

        h2 {
            font-family: Inter;
            font-size: c.vw375(24);
            font-weight: 700;
            color: rgba(76, 41, 181, 1);
        }

        img {
            width: auto;
            height: c.vw375(16);
        }
    }

    .descSection {
        margin-bottom: c.vw375(30);
        p {
            text-align: left;
            font-size: c.vw375(16);
            font-family: Inter;
            font-weight: 500;
            color: rgba(115, 80, 159, 1);

            span {
                font-weight: 700;
            }
        }
    }

    .descDownSection {
        background: linear-gradient(to top left, rgba(137, 69, 236, 0.2), rgba(137, 69, 236, 0));
        border-radius: c.vw375(20);
        padding: c.vw375(20);
        height: c.vw375(170);
        width: 100%;
        margin-bottom: c.vw375(70);
        transition: all 0.3s ease-in-out;
        border: 2px solid rgb(168, 131, 232);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        animation: showText 2s linear forwards;
        animation-delay: 5s;

        @keyframes showText {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    .selfListing {
        margin-bottom: c.vw375(40);
        position: relative;
        .contentBox {
            display: flex;
            align-items: center;
            gap: c.vw375(12);
            margin-bottom: c.vw375(20);
            position: relative;

            &::before {
                position: absolute;
                content: " ";
                background-image: url("../../assets/LineHight.svg");
                background-repeat: no-repeat;
                width: 2px;
                height: c.vw375(22);
                background-size: 100%;
                left: c.vw375(14);
                top: c.vw375(27);
            }

            &:last-child:before {
                background-image: url("../../assets/LineHight.svg");
                height: c.vw375(44);
            }

            img {
                width: c.vw375(30);
                height: auto;
                position: relative;
            }

            p {
                margin: 0;
                text-align: center;
                font-size: c.vw375(14);
                font-family: Inter;
                font-weight: 500;
                color: rgba(115, 80, 159, 1);
            }
        }

        &::before {
            position: absolute;
            content: " ";
            width: 100%;
            height: c.vw375(230);
            bottom: c.vw375(-42);
            background-color: white;
            z-index: 2;
            animation: shrink 4s linear forwards;
            animation-delay: 1s;
        }

        @keyframes shrink {
            0% {
                height: c.vw375(230);
            }
            // 25% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 1);
            // }
            // 30% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 1);
            // }
            // 50% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 2);
            // }
            // 55% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 2);
            // }
            // 75% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 3);
            // }
            // 80% {
            //     height: calc(c.vw375(230) - (c.vw375(230) / 4) * 3);
            // }
            100% {
                height: calc(0);
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .effortlessSelfListingSection {
        p.subTitle {
            font-size: c.vw834(20);
            margin-bottom: c.vw834(6);
        }

        .titleSection {
            margin-bottom: c.vw834(6);

            h2 {
                font-size: c.vw834(35);
            }

            img {
                height: c.vw834(16);
            }
        }

        .descSection {
            margin-bottom: c.vw834(30);
            p {
                font-size: c.vw834(18);
            }
        }

        .descDownSection {
            border-radius: c.vw834(20);
            padding: c.vw834(20);
            height: c.vw834(170);
            margin-bottom: c.vw834(70);

            @keyframes showText {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .selfListing {
            margin-bottom: c.vw834(40);
            .contentBox {
                gap: c.vw834(12);
                margin-bottom: c.vw834(20);

                &::before {
                    height: c.vw834(22);
                    left: c.vw834(18);
                    top: c.vw834(36);
                }

                img {
                    width: c.vw834(40);
                }

                p {
                    font-size: c.vw834(20);
                }

                &:last-child:before {
                    height: c.vw834(44);
                }
            }

            &::before {
                position: absolute;
                content: " ";
                width: 100%;
                height: c.vw834(260);
                bottom: c.vw834(-42);
                background-color: white;
                z-index: 2;
                animation: shrink 5s linear forwards;
                animation-delay: 1s;
            }

            @keyframes shrink {
                0% {
                    height: c.vw834(260);
                }
                // 25% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 1);
                // }
                // 30% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 1);
                // }
                // 50% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 2);
                // }
                // 55% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 2);
                // }
                // 75% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 3);
                // }
                // 80% {
                //     height: calc(c.vw834(242) - (c.vw834(242) / 4) * 3);
                // }
                100% {
                    height: calc(0);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .effortlessSelfListingSection {
        padding-bottom: c.vw1920(100);
        p.subTitle {
            font-size: c.vw1920(20);
            margin-bottom: c.vw1920(6);
            text-align: start;
        }

        .titleSection {
            margin-bottom: c.vw1920(6);
            justify-content: start;
            align-items: center;
            h2 {
                font-size: c.vw1920(47);
            }

            img {
                width: c.vw1920(32);
                height: auto;
                margin-top: -10px;
            }
        }

        .descSection {
            margin-bottom: c.vw1920(30);
            p {
                padding-left: c.vw1920(12);
                font-size: c.vw1920(28);
                text-align: start;
            }
        }

        .descDownSection {
            border-radius: c.vw1920(40);
            padding: c.vw1920(20);
            height: c.vw1920(170);
            margin-bottom: c.vw1920(70);
            width: c.vw1920(700);

            p {
                font-size: c.vw1920(22);
                margin: 0;
                width: 100%;
                opacity: 0;
                animation: showText 2s linear forwards;
                animation-delay: 4s;
            }

            @keyframes showText {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .selfListing {
            margin-bottom: c.vw1920(40);
            position: relative;

            .contentBox {
                gap: c.vw1920(12);
                margin-bottom: c.vw1920(20);

                &::before {
                    height: c.vw1920(22);
                    left: c.vw1920(28);
                    top: c.vw1920(56);
                }

                img {
                    width: c.vw1920(60);
                }

                p {
                    font-size: c.vw1920(26);
                }

                &:last-child:before {
                    height: c.vw1920(44);
                }
            }

            // &::before {
            //     position: absolute;
            //     content: " ";
            //     width: 100%;
            //     height: c.vw1920(295);
            //     bottom: c.vw1920(-30);
            //     background-color: red;
            //     z-index: 2;
            // }

            &::before {
                position: absolute;
                content: " ";
                width: 100%;
                height: c.vw1920(360);
                bottom: c.vw1920(-50);
                background-color: white;
                z-index: 2;
                animation: shrink 4s linear forwards;
                animation-delay: 1s;
            }

            @keyframes shrink {
                0% {
                    height: c.vw1920(360);
                }
                // 25% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 1);
                // }
                // 30% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 1);
                // }
                // 50% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 2);
                // }
                // 55% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 2);
                // }
                // 75% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 3);
                // }
                // 80% {
                //     height: calc(c.vw1920(330) - (c.vw1920(330) / 4) * 3);
                // }
                100% {
                    height: calc(0);
                }
            }
        }
    }
}
