@use "../../css/functions" as c;

.footer {
    background: linear-gradient(rgba(76, 41, 181, 0.79), rgba(76, 41, 181, 0.79)), url("../../assets/footerImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: c.vw375(60) 0;

    .logoSection {
        width: c.vw375(360);
        margin: 0 auto c.vw375(75);
        text-align: center;

        .logoFooter {
            width: c.vw375(100);
            height: auto;
        }

        p {
            margin-top: c.vw375(20);
            font-family: Inter;
            font-size: c.vw375(14);
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
        }

        .formEmail {
            // position: relative;
            // input {
            //     width: c.vw375(232);
            //     height: c.vw375(44);
            //     border-radius: 6px;
            //     outline: none;
            //     border: none;
            //     padding: 0 c.vw375(12);
            // }

            // span {
            //     background-color: rgba(91, 41, 108, 1);
            //     width: c.vw375(48);
            //     height: c.vw375(42);
            //     border-radius: 6px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     position: absolute;
            //     top: c.vw375(1);
            //     right: c.vw375(65);

            //     img {
            //         width: c.vw375(12);
            //         height: auto;
            //     }
            // }
            display: flex;
            justify-content: center;

            a {
                color: rgba(137, 69, 236, 1);
                text-decoration: none;
                width: c.vw375(200);
                height: c.vw375(48);
                font-size: c.vw375(18);
                font-family: Inter;
                border: 1px solid rgba(137, 69, 236, 1);
                background: white;
                border-radius: c.vw375(8);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                box-shadow: 0 1px 2px rgba(105, 81, 255, 0.05);
            }
        }
    }

    .LinkSite {
        width: c.vw375(222);
        margin: 0 auto;
        margin-bottom: c.vw375(60);
        .contentBox {
            margin-bottom: c.vw375(50);

            h5 {
                color: white;
                font-family: Inter;
                font-size: c.vw375(25);
                font-weight: 600;
                margin-bottom: c.vw375(20);
                text-transform: uppercase;
            }

            ul {
                padding: 0;
                li {
                    list-style-type: none;
                    color: white;
                    margin-bottom: c.vw375(18);

                    h6 {
                        font-family: Inter;
                        font-size: c.vw375(16);
                        font-weight: 600;
                        margin: 0;
                    }

                    p {
                        font-family: Inter;
                        font-size: c.vw375(16);
                        font-weight: 300;
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        font-family: Inter;
                        font-size: c.vw375(16);
                        font-weight: 300;
                        margin: 0;
                    }
                }
            }

            &.contentBoxContentPhones {
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        gap: c.vw375(12);

                        img {
                            width: c.vw375(18);
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .LinkSiteDeskTop {
        display: none;
    }

    .footerSocialMedia {
        width: c.vw375(345);
        margin: 0 auto;

        ul {
            padding: 0;
            display: flex;
            justify-content: center;
            gap: c.vw375(30);

            li {
                list-style-type: none;
            }

            img {
                width: c.vw375(24);
                height: c.vw375(24);
            }
        }

        p.sectionCopyright {
            text-align: center;
            color: #b3aad8;
            font-family: Roboto;
            font-weight: 400;
            font-size: c.vw375(16);
            margin: 0 0 c.vw375(6) 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: c.vw834(60) 0;

        .logoSection {
            width: c.vw834(341);
            margin: 0 auto c.vw834(75);

            .logoFooter {
                width: c.vw834(100);
            }

            p {
                margin-top: c.vw834(20);
                font-size: c.vw834(16);
            }

            .formEmail {
                // input {
                //     width: c.vw834(232);
                //     height: c.vw834(44);
                //     padding: 0 c.vw834(12);
                // }

                // span {
                //     width: c.vw834(48);
                //     height: c.vw834(42);
                //     top: c.vw834(1);
                //     right: c.vw834(56);

                //     img {
                //         width: c.vw834(12);
                //     }
                // }

                a {
                    width: c.vw834(200);
                    height: c.vw834(48);
                    font-size: c.vw834(16);
                    border-radius: c.vw834(8);
                }
            }
        }

        .LinkSite {
            width: c.vw834(600);
            margin-bottom: c.vw834(20);
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            gap: c.vw834(20) c.vw834(200);

            .contentBox {
                margin-bottom: c.vw834(22);
                width: calc(50% - c.vw834(100));
                h5 {
                    font-size: c.vw834(25);
                    margin-bottom: c.vw834(20);
                }

                ul {
                    li {
                        margin-bottom: c.vw834(18);

                        h6 {
                            font-size: c.vw834(16);
                        }

                        p {
                            font-size: c.vw834(18);
                        }

                        a {
                            font-size: c.vw834(14);
                        }
                    }
                }

                &.contentBoxContentPhones {
                    ul {
                        li {
                            gap: c.vw834(12);

                            img {
                                width: c.vw834(18);
                            }
                        }
                    }
                }
            }
        }

        .footerSocialMedia {
            width: c.vw834(345);

            ul {
                gap: c.vw834(30);

                img {
                    width: c.vw834(24);
                    height: c.vw834(24);
                }
            }

            p.sectionCopyright {
                font-size: c.vw834(16);
                margin: 0 0 c.vw834(6) 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    .footer {
        padding: c.vw1920(160) 0 c.vw1920(40);

        .FlexSection {
            display: flex;
            //justify-content: space-between;g
            gap: c.vw1920(120);
            width: 100%;
        }

        .logoSection {
            margin: 0;
            width: auto;
            text-align: left;

            .logoFooter {
                width: c.vw1920(150);
            }

            p {
                margin: c.vw1920(30) 0;
                font-size: c.vw1920(16);
                width: c.vw1920(211);
                line-height: c.vw1920(28);
            }

            .formEmail {
                // input {
                //     width: c.vw1920(260);
                //     height: c.vw1920(45);
                //     padding: 0 c.vw1920(12);
                //     font-size: c.vw1920(16);
                // }

                // span {
                //     cursor: pointer;
                //     width: c.vw1920(48);
                //     height: c.vw1920(42);
                //     top: c.vw1920(2);
                //     right: c.vw1920(2);

                //     img {
                //         width: c.vw1920(12);
                //     }
                // }

                a {
                    width: 100%;
                    height: c.vw1920(48);
                    font-size: c.vw1920(20);
                    border-radius: c.vw1920(12);
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: linear-gradient(to top left, rgba(137, 69, 236, 1), rgba(137, 69, 236, 0.4));
                        color: white;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        .LinkSite {
            width: auto;
            margin: 0;
            margin-bottom: c.vw1920(0);
            display: flex;
            justify-content: space-between;
            gap: 0;
            .contentBox {
                margin-bottom: c.vw1920(22);
                // width: calc(50% - c.vw1920(100));
                width: calc(100% / 3);
                h5 {
                    font-size: c.vw1920(25);
                    margin-bottom: c.vw1920(20);
                }

                ul {
                    li {
                        margin-bottom: c.vw1920(18);

                        h6 {
                            font-size: c.vw1920(16);
                        }

                        p {
                            font-size: c.vw1920(20);
                            width: c.vw1920(340);
                        }

                        a {
                            font-size: c.vw1920(20);
                        }
                    }
                }
            }
        }

        .LinkSiteMobile {
            display: none;
        }

        .LinkSiteDeskTop {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .sectionTop {
                display: flex;
                justify-content: start;
                width: 100%;
            }

            .contentBoxDeskTop {
                width: 100%;
                border-top: 1px solid white;
                padding: c.vw1920(50) 0;
                ul {
                    padding: 0;
                    display: flex;
                    //justify-content: space-between;

                    li {
                        list-style-type: none;
                        color: white;
                        width: calc(100% / 3);

                        h6 {
                            font-size: c.vw1920(18);
                            font-family: Inter;
                            font-weight: 600;
                            line-height: c.vw1920(28);
                        }

                        p {
                            font-size: c.vw1920(20);
                            font-family: Inter;
                            font-weight: 400;
                            line-height: c.vw1920(22);
                            // color: #a799d5;
                            color: white;
                        }
                    }
                }

                
                &.contentBoxContentPhones {
                    ul {
                        li {
                            display: flex;
                           // align-items: center;
                            gap: c.vw1920(12);

                            img {
                                width: c.vw1920(24);
                            }

                            p{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        .footerSocialMedia {
            width: 100%;
            display: flex;
            justify-content: space-between;

            ul {
                gap: c.vw1920(30);

                img {
                    width: c.vw1920(28);
                    height: c.vw1920(28);
                }
            }

            p.sectionCopyright {
                font-size: c.vw1920(18);
                margin: 0 0 c.vw1920(6) 0;
            }
        }
    }
}
