@use "../../css/functions" as c;

.authenticListingsSection {
    padding: c.vw375(50) 0;

    p.subTitle {
        font-family: Inter;
        font-size: c.vw375(20);
        font-weight: 500;
        margin-bottom: c.vw375(6);
        text-align: center;
        color: rgba(76, 41, 181, 1);
    }

    .titleSection {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 12px;
        margin-bottom: c.vw375(6);

        h2 {
            text-align: center;
            font-family: Inter;
            font-size: c.vw375(28);
            font-weight: 700;
            color: rgba(76, 41, 181, 1);
            width: c.vw375(325);
        }

        img {
            display: none;
            width: auto;
            height: c.vw375(16);
        }
    }

    .descSection {
        margin-bottom: c.vw375(30);
        p {
            text-align: center;
            font-size: c.vw375(18);
            font-family: Inter;
            font-weight: 400;
            color: rgba(115, 80, 159, 1);

            span {
                font-weight: 700;
            }
        }
    }

    .cardItems {
        margin-top: c.vw375(40);
        display: flex;
        flex-direction: column;
        gap: c.vw375(26);

        .contentBox {
            width: c.vw375(325);
            background-color: rgba(137, 69, 236, 0.1);
            border-radius: c.vw375(16);
            padding: c.vw375(20) c.vw375(14);
            transition: all 0.3s ease-in-out;
            text-align: left;
            margin: 0 auto;
            border: 3px solid white;
            cursor: pointer;
            gap: c.vw375(12);
            display: flex;
            align-items: center;
            opacity: 0;
            transform: translateY(20px);

            &.animationShowSlow:nth-child(1) {
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 1s;
            }
            &.animationShowSlow:nth-child(2) {
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 2s;
            }
            &.animationShowSlow:nth-child(3) {
                animation:
                    fadeInUp 0.8s ease-out 3s forwards,
                    fadeInOut 0.8s ease-in-out 5s forwards;
            }
            &.animationShowSlow:nth-child(4) {
                animation: fadeInUp 0.8s ease-out forwards;
                animation-delay: 4s;
            }

            @keyframes fadeInUp {
                0% {
                    opacity: 0;
                    transform: translateY(20px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            @keyframes fadeInOut {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: translateY(0);
                }
            }

            .imageSectiom {
                width: c.vw375(58);
                height: c.vw375(58);
                background: rgb(137, 69, 236);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
            }

            &.closeSection {
                .imageSectiom {
                    background: rgba(255, 0, 121, 1);
                    img {
                        width: c.vw375(46);
                    }
                }
            }

            h2 {
                font-family: Inter;
                font-size: c.vw375(14);
                font-weight: 800;
                line-height: c.vw375(17);
                color: rgba(76, 41, 181, 1);
                margin: c.vw375(6) 0;
            }

            p {
                font-family: Inter;
                font-size: c.vw375(14);
                font-weight: 400;
                line-height: c.vw375(17);
                color: rgba(76, 41, 181, 1);
                width: c.vw375(293);
                margin: 0;
            }

            // &:hover {
            //     background: white;
            //     transition: all 0.3s ease-in-out;
            //     box-shadow: 0 0 80px rgba(137, 69, 236, 0.2);
            //     transition: all 0.3s ease-in-out;

            //     .imageSectiom {
            //         background: rgba(255, 0, 121, 1);
            //         transition: all 0.3s ease-in-out;
            //     }
            // }
        }
    }

    .fullImage {
        width: 100%;
        height: c.vw375(105);
        margin-bottom: c.vw375(50);
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .authenticListingsSection {
        padding: c.vw834(50) 0;

        p.subTitle {
            font-size: c.vw834(20);
            margin-bottom: c.vw834(6);
        }

        .titleSection {
            margin-bottom: c.vw834(6);
            align-items: center;
            gap: 0;
            h2 {
                font-size: c.vw834(35);
                width: c.vw834(418);
            }

            img {
                display: block;
                width: c.vw834(36);
                height: auto;
            }
        }

        .descSection {
            margin-bottom: c.vw834(60);
            p {
                font-size: c.vw834(22);
                width: c.vw834(501);
                margin: 0 auto;
            }
        }

        .cardItems {
            margin-top: c.vw834(120);
            gap: c.vw834(12);

            .contentBox {
                width: c.vw834(584);
                border-radius: c.vw834(15);
                padding: c.vw834(20) c.vw834(20);
                margin: 0;
                display: flex;
                align-items: center;
                gap: c.vw834(20);
                margin: 0 auto;
                .imageSectiom {
                    display: block;
                    width: c.vw834(68);
                    height: c.vw834(68);
                    padding: c.vw834(10);
                    background: rgb(137, 69, 236);
                    border-radius: 15px;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: c.vw834(36);
                    }
                }

                // &:hover {
                //     .imageSectiom {
                //         background: rgba(255, 0, 121, 1);
                //         transition: all 0.3s ease-in-out;
                //     }
                // }

                h2 {
                    font-size: c.vw834(18);
                    line-height: c.vw834(22);
                    margin: c.vw834(12) 0;
                }

                p {
                    font-size: c.vw834(17);
                    line-height: c.vw834(20);
                    width: c.vw834(463);
                }

                &.closeSection {
                    .imageSectiom {
                        background: rgba(255, 0, 121, 1);
                        img {
                            width: c.vw834(40);
                        }
                    }
                }
            }
        }

        .fullImage {
            height: c.vw834(196);
            margin-bottom: c.vw834(50);
        }
    }
}

@media (min-width: 1024px) {
    .authenticListingsSection {
        padding: c.vw1920(50) 0;

        p.subTitle {
            font-size: c.vw1920(20);
            margin-bottom: c.vw1920(6);
            text-align: left;
        }

        .titleSection {
            margin-bottom: c.vw1920(6);
            justify-content: center;
            align-items: center;
            justify-content: start;
            h2 {
                font-size: c.vw1920(47);
                width: c.vw1920(561);
                text-align: left;
            }

            img {
                display: block;
                width: c.vw1920(40);
                height: auto;
                margin-top: -10px;
            }
        }

        .descSection {
            margin-bottom: c.vw1920(30);
            p {
                font-size: c.vw1920(28);
                text-align: start;
            }
        }

        .cardItems {
            width: 100%;
            margin-top: c.vw1920(40);
            gap: c.vw1920(30) c.vw1920(16);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .contentBox {
                width: c.vw1920(584);
                border-radius: c.vw1920(15);
                padding: c.vw1920(20) c.vw1920(20);
                margin: 0;
                display: flex;
                align-items: center;
                gap: c.vw1920(20);
                margin: 0;
                .imageSectiom {
                    display: block;
                    width: c.vw1920(68);
                    height: c.vw1920(68);
                    padding: c.vw1920(10) c.vw1920(16);
                    background: rgb(137, 69, 236);
                    border-radius: 15px;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: c.vw1920(40);
                    }
                }

                // &:hover {
                //     .imageSectiom {
                //         background: rgba(255, 0, 121, 1);
                //         transition: all 0.3s ease-in-out;
                //     }
                // }

                h2 {
                    font-size: c.vw1920(18);
                    line-height: c.vw1920(22);
                    margin: c.vw1920(12) 0;
                }

                p {
                    font-size: c.vw1920(16);
                    line-height: c.vw1920(20);
                    width: c.vw1920(463);
                }

                &.contentBox:nth-child(1){
                    order: 1;
                }

                &.contentBox:nth-child(2) {
                    order: 3;
                }

                &.contentBox:nth-child(3){
                    order: 2;
                }

                &.contentBox:nth-child(4){
                    order: 4;
                }

                &.closeSection {
                    .imageSectiom {
                        background: rgba(255, 0, 121, 1);
                        img {
                            width: c.vw1920(46);
                        }
                    }
                }
            }
        }

        .fullImage {
            width: 82%;
            height: auto;
            margin: 0 auto;
            text-align: center;

            img {
                width: 100%;
                height: c.vw1920(288);
            }
        }
    }
}
